.leftboard{
    width: 30%;
    border: 1px solid red;
}
.alldev{
    position: relative;
}
.board{
    width: 70%;
    border :1px solid red;
}
.allboard{
    display: flex;
}
.inleft{
    display: flex;
    flex-direction: column;
    background-color: rgb(176, 176, 226);
    padding: 5px 5px;
    gap: 10px;
}
.inleftover{
    padding: 10px 10px;
    background-color: white;
}
.inputcover {
    border: 1px solid red;
    padding :20px 10px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.inputbox{
    border: 1px solid red;
    width: 90%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
}
.search{
    width: 99%;
}
.icons{
    display: flex;
    gap: 10px;
}
.gifbox{
   
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
   
}
.cont{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 800px;
    height: 500px;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}