.leftboard {
    width: 30%;
    border: 1px solid red;
}

.alldev {
    position: relative;
}

.board {
    width: 70%;
    border: 1px solid red;
}

.allboard {
    display: flex;
}

.inleft {
    display: flex;
    flex-direction: column;
    background-color: rgb(176, 176, 226);
    padding: 5px 5px;
    gap: 10px;
}

.inleftover {
    padding: 10px 10px;
    background-color: white;
}

.inputcover {
    border: 1px solid red;
    padding: 20px 10px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.inputbox {
    border: 1px solid red;
    width: 90%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
}

.lefticon {
    display: flex;
    gap: 10px;
}

.search {
    width: 99%;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 6px 4px;
}


.gifbox {

    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}
.point{
    cursor: pointer;
}
.cont {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
   /* border-radius: 1rem; */
    width: 800px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border :1px solid black;
}

    /* border-radius: 3rem; */
    
    /* height: 20px; */
    /* top: 2px; */

.crossdiv {
    position: relative;
    border: 1px solid red;
    display: inline-block;
    width: 390px;
    height: 600px;
}

.cross {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.imgupload>input {
    display: none;
    
}


.post {
    border: 1px solid red;
    padding: 0px 3px;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}